VITE_FIREBASE_API_KEY=AIzaSyBsH0thsRXAti-gbnsJLpIAMroe7PTyL2I
VITE_FIREBASE_AUTH_DOMAIN=deadclanbb-1f05e.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://deadclanbb-1f05e-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=deadclanbb-1f05e
VITE_FIREBASE_STORAGE_BUCKET=deadclanbb-1f05e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=208227509819
VITE_FIREBASE_APP_ID=1:208227509819:web:ca440d6a17cebd901a5e1e
VITE_FIREBASE_MEASUREMENT_ID=G-Z1DZW09YFS
